<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<h2>Register</h2>
<form th:action="@{/register}" th:object="${user}" method="post">
    <div>
        <label>Username</label>
        <input type="text" th:field="*{userName}" required>
        <span th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></span>
    </div>
    <br>

    <div>
        <label>Password</label>
        <input type="password" th:field="*{password}" required>
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control" type="email" th:field="*{email}" required>
        <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>

    <button type="submit">Register</button>
</form>
<p>Already registered? <a href="/login">Login here</a></p>
</body>
</html>